
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">RESTORENT </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!--<li class="nav-item active"> -->
          
          <a class="nav-link" routerLink='add'>Add Restorent<span class="sr-only">(current)</span></a>
          <a class="nav-link" routerLink='list'>Resto List<span class="sr-only">(current)</span></a>
          <a class="nav-link" routerLink='login'> Restorent login<span class="sr-only">(current)</span></a>
          <a class="nav-link" routerLink='register'>Restorent Register<span class="sr-only">(current)</span></a>
          <a class="nav-link" routerLink='update'>Restorent Update<span class="sr-only">(current)</span></a>
          
          
          
        
        
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
      </ul>
      
    </div>
  </nav>

<!-- <ul>
<li><a routerLink='add'>Add Restorent</a></li>
<li><a routerLink='list'>Add Restorent</a></li>
<li><a routerLink='login'>Add Restorent</a></li>
<li><a routerLink='register'>Add Restorent</a></li>
<li><a routerLink='update'>Add Restorent</a></li>

</ul> -->

<router-outlet></router-outlet>